{% include "_header.html" %}
    <div id="Content">
        <section id="content-1" class="py-5">
            <div class="container py-3">
                <div class="row text-center mb-5">
                    <div class="col-xl-6 mx-auto">
                        <h2 class="mb-3">How to Install</h2>
                        <p class="text-muted" style="text-align: justify;"><span style="color: rgb(33, 37, 41);">Learn how to easily install and start using </span><strong><span style="color: rgb(33, 37, 41);">Software Apps</span></strong><span style="color: rgb(33, 37, 41);"> with our step-by-step guide. Follow these simple instructions to get your app up and running in no time</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                        <div class="border-start p-4">
                            <h5>Download the Installer</h5>
                            <p class="text-muted">Click below to download the latest version of Software Apps.</p><a class="text-decoration-none" href="#">[Download Installer]</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="border-start p-4">
                            <h5>Run the Installer</h5>
                            <p class="text-muted">Open the downloaded file and follow the on-screen instructions to complete the installation.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="border-start p-4">
                            <h5>Complete Setup</h5>
                            <p class="text-muted">Launch the app and follow the setup prompts to configure it.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="border-start p-4">
                            <h5>Start Using the App</h5>
                            <p class="text-muted">Begin exploring all the features of Software Apps. For detailed guidance, refer to our [User Guide] or visit the [FAQ] page for common questions and answers.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5"></div>
            </div>
        </section>
    </div>
    {% include "_footer.html" %}
