{% include "_header.html" %}

    <div id="Content">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 style="font-size: 32px;">Terms &amp; Info</h2>
                    <p class="w-lg-50" style="text-align: justify;">Welcome to the <strong>Terms &amp; Info</strong> page of <strong>Software Apps</strong>. This page provides important information about the terms and conditions of using our app, our privacy policy, and other legal details to help you understand how we operate and how we protect your data.</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2" style="margin-bottom: -42px;">
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="py-4 py-lg-0 px-lg-4">
                            <h4>Privacy Policy</h4>
                            <p style="text-align: justify;">Your privacy is important to us. Our explains how we collect, use, and protect your personal data:<br><strong>Data Collection:</strong> We collect information you provide directly to us, such as when you create an account, update your profile, use the app, or contact us for support.<br><strong>Data Usage:</strong> We use your information to provide, maintain, and improve our services, communicate with you, and personalize your experience.<br><strong>Data Protection:</strong> We implement security measures to protect your personal information.</p>
                        </div>
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4>Developer Information</h4>
                        <p style="text-align: justify;"><strong>Developer:&nbsp;</strong>[Developer's Name]<br>Company: [Developer's Company Name]<br>Address: [Company Address]<br>Contact: [Contact Information]<br>Email: [Developer's Email]</p>
                    </div>
                </div>
                <div class="col">
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4>Terms of Service</h4>
                        <p style="text-align: justify;">By using <strong>Software Apps</strong>, you agree to the following terms:<br><strong>Usage:</strong> You are granted a non-exclusive, non-transferable license to use the app for personal or business purposes.<br><strong>Prohibited Actions:</strong> Do not use the app for illegal or unauthorized activities. Comply with all local laws regarding online conduct.<br><strong>Modifications:</strong> We may modify or discontinue the app or any part of it without notice at any time.<br><strong>Termination:</strong> We can terminate or suspend your access to the app without notice if you breach the terms.</p>
                    </div>
                    <div class="d-flex flex-column flex-lg-row"></div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column flex-lg-row"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 35px;">
                    <h1 style="padding-left: 20px;font-size: 23px;">Legal Disclaimer</h1>
                    <p style="padding-left: 21px;text-align: justify;">The information provided by <strong>Software Apps</strong> is for general informational purposes only. While we strive to keep the information up-to-date and correct, we make no representations or warranties of any kind about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 style="padding-left: 21px;font-size: 23px;">Copyright Information</h1>
                    <p style="padding-left: 19px;text-align: justify;">All content and materials available on <strong>Software Apps</strong> are the intellectual property of [Developer's Company Name] and are protected by applicable copyright and trademark laws. Unauthorized use of any content may violate copyright, trademark, and other laws.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "_footer.html" %}
